body {
  text-align: center;
  max-width: 1700px;
  margin: auto;
}

div {
  font-family: sans-serif;
}

.gameBoard {
  margin-bottom: 50px;
  margin: auto;
  max-width: 1100px;
  background: lightgrey;
}

.card {
  padding: 40px;
  margin: 10px;
  background-color: grey;
  border: 3px solid red;
  font-size: 1em;
  border-radius: 10px;
  width: 120px;
  height: 147px;
}

.container {
  margin-right: 50px;
  display: flex;
}

li {
  list-style: none;
  border: 1px solid black;
  padding: 40px;
  margin: 1px;
  width: 40px;
  height: 80px;
}

.numCards {
  margin: 15px;
}

.displayed {
  background: white;
  font-weight: bold;
}